@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
	font-family: 'Elden Base';
	src: url('/fonts/Elden-Base.woff2') format('woff2');
}

@font-face {
	font-family: 'Elden Old';
	src: url('/fonts/Elden-Old.woff2') format('woff2');
}
